p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
body{
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  margin-bottom: 200px;
  background-color: rgb(246, 246, 246);
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}