.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}
.channel-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 10px;
}
.thumbnail {
  width: 100%;
}
.thumbnail-row{
  position: relative;
}
.video-author,
.video-stats {
  font-family: Roboto, Arial;
  color: rgb(96, 96, 96);
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 0;
}
.video-author {
  margin-bottom: 4px;
}
.video-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 12px;
}
.video-time{
  color: white;
  font-size: 12px;
  font-weight: 700;
  background-color: black;
  border-radius: 2px;
  padding: 3px 4px;
  position: absolute;
  right: 5px;
  bottom: 95px
}
.video-stats {
  font-size: 12px;
}
.profile-picture {
  width: 40px;
  border-radius: 50px;
}